/* stylelint-disable indentation */

/* CSS for footer */

.container-23 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 1000px;
    height: auto;
    padding-top: 20px;
    margin: 0 480px;
}

.container-24 {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 600px;
    height: auto;
    border-top: 2px solid black;
}

.container-24 h3 {
    font-weight: 700;
    align-self: flex-start;
    margin-top: 10px;
}

.container-24a {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    width: inherit;
    height: 300px;
    position: relative;
    border-bottom: 2px solid black;
}

.container-24a-item {
    width: 180px;
    height: 250px;
    font-size: 10px;
    text-align: left;
}

.container-24a-item p {
    font-size: 11px;
    margin-top: 10px;
    line-height: 13px;
    padding: 5px;
    margin-right: 0;
    margin-left: 0;
}

.container-24a-item h4 {
    font-size: 13px;
    margin-top: 50%;
    line-height: 13px;
    padding: 5px;
    font-weight: 700;
}

.container-24a-item img {
    position: absolute;
    width: 80px;
    height: 80px;
}

.container-24b {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    width: inherit;
    height: 460px;
    border-bottom: 2px solid black;
}

.container-24b-item {
    width: 195px;
    height: 180px;
    margin-top: 20px;
}

.container-24b-item img {
    position: absolute;
    width: 150px;
    height: 100px;
    margin: 5px 5px;
}

.container-24b-item h4 {
    margin-top: 60%;
    font-size: 13px;
    font-weight: 500;
    margin-left: 5px;
}

.container-24c {
    display: flex;
    flex-flow: row   wrap;
    justify-content: space-around;
    align-items: flex-start;
    width: inherit;
    height: 200px;
}

.container-24c-item {
    width: 195px;
    height: 180px;
    margin-top: 20px;
}

.container-24c-item img {
    position: absolute;
    width: 150px;
    height: 100px;
    margin: 5px 5px;
}

.container-24c-item h4 {
    margin-top: 60%;
    font-size: 13px;
    font-weight: 500;
    margin-left: 5px;
}

.container-25 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    height: auto;
    border-top: 1px solid black;
}

.container-25-item {
    width: 300px;
    height: auto;
    padding: 0;
    margin: 0;
    border-bottom: 0.5px solid black;
    padding-bottom: 20px;
}

.container-25 h3 {
    align-self: flex-start;
    font-weight: 600;
    border-bottom: 0.5px solid black;
    padding-bottom: 12px;
    width: 300px;
}

/* Aside Styles */

.aside-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 400px;
    height: 550px;
    right: 60px;
    top: 175%;
}

.aside-container h4 {
    font-size: 20px;
    margin: 20px 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid grey;
}

.aside-container img {
    width: 120px;
    height: 120px;
    float: left;
    padding-left: 20px;
}

.aside-container p {
    width: 200px;
    margin: 0;
    font-size: 20px;
    float: right;
    padding-top: 15px;
    padding-right: 30px;
}

.aside-item {
    padding-top: 20px;
    flex: 1;
}
