body {
  background-color: var(--gray-50);
}

.container {
  max-width: 80rem;
  padding: 0 24px;
  margin: 0 auto;
}

.article-items {
  max-width: 42rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  border-bottom: 1px solid var(--gray-300);
  background-color: #fff;
  padding: 0 24px;
  position: sticky;
  top: 0;
  z-index: 10;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-left > * + * {
  margin-left: 16px;
}

.header-title {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
}

.app-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/** main */
.main {
  padding: 48px 0;
}

/** more */
.popular-section > * + * {
  border-top: 1px solid var(--gray-300);
}
