.grid {
  display: grid;
}

.grid-column-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-column-12 {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.col-1 {
  grid-column: span 1 / span 1;
}

.col-3 {
  grid-column: span 3 / span 3;
}

.col-9 {
  grid-column: span 9 / span 9;
}

.grid-column-gap {
  column-gap: 24px;
}

.grid-column-gap-lg {
  column-gap: 48px;
}

.footer-bottom {
  display: flex;
  width: 1200px;
  justify-content: space-between;
  font-size: 15px;
}

.footer {
  display: flex;
  margin: 0 50px;
  width: 400px;
  font-size: 20px;
  font-weight: 400;
}

.footer h5 {
  font-weight: 900;
}

.footer ul {
  width: 350px;
}

.bold {
  font-weight: 900;
}

.footer hr {
  display: flex;
  width: 40%;
}

.footer-lg-container {
  display: flex;
  width: 1200px;
  margin: 0 80px;
}

.news-to-more-container {
  display: flex;
  width: 800px;
}

.subscribe-container {
  border-left: 1px solid lightgray;
  padding-left: 10px;
}

.subscribe-container hr {
  width: 95px;
}

.s-container-1 {
  border-bottom: 1px solid lightgray;
  width: 125px;
}