.marg-top-1 {
  margin-top: 4px;
}

.marg-top-4 {
  margin-top: 16px;
}

.marg-top-8 {
  margin-top: 32px;
}

.marg-top-10 {
  margin-top: 40px;
}

.marg-bottom-6 {
  margin-bottom: 24px;
}

.marg-y-8 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.marg-left-2 {
  margin-left: 8px;
}

.marg-x-auto {
  margin-left: auto;
  margin-right: auto;
}

.space-x-5 > * + * {
  margin-left: 20px;
}
